<!DOCTYPE html>
<html lang="en">
<head><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no, email=no">


    <meta charset="UTF-8">
    <title>订单信息</title>
    <link rel="stylesheet" href="../../css/weuix.min.css">

</head>
<body>

<div class="weui_cells">

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>订单提交时间：</p>
        </div>
        <div class="weui_cell_ft"  id="order_time"></div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>订单状态:</p>
        </div>
        <div class="weui_cell_ft" id="order_status"></div>
    </div>

    <div class="weui_media_box weui_media_appmsg">
        <div class="weui_media_bd">
            <h4 class="weui_media_title">收货人</h4>
            <p class="weui_media_desc" id="order_address"></p>
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>订单编号：</p>
        </div>
        <div class="weui_cell_ft" id="orderNum"></div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>付款方式：</p>
        </div>
        <div class="weui_cell_ft" id="orderPay"></div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用优惠券：</p>
        </div>
        <div class="weui_cell_ft">￥<span id="orderDiscount"></span></div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用购物红包：</p>
        </div>
        <div class="weui_cell_ft">￥<span id="redpacketAmount"></span></div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>使用现金红包：</p>
        </div>
        <div class="weui_cell_ft">￥<span id="cashAmount"></span></div>
    </div>

    <div class="weui_media_box weui_media_appmsg">
        <div class="weui_media_bd">
            <h4 class="weui_media_title">发票信息与备注</h4>
            <p class="weui_media_desc">抬头：<span id="invoice"></span></p>
            <p class="weui_media_desc" >备注：<span id="remark"></span></p>
        </div>
    </div>

    <div id="order_goods">

    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>应收款：</p>
        </div>
        <div class="weui_cell_ft">￥<span id="should_pay"></span></div>
    </div>

    <div class="weui_cell" style="justify-content: space-around">
        <div class="weui_cell_ft" >
            <a href="javascript:" class="weui_btn weui_btn_mini weui_btn_primary confirm_delivery cancle_order" id="order_check" style="display:none">确认送达</a>
        </div>
        <div class="weui_cell_ft" >
            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default" id="order_return" style="display:none">客户退货</a>
        </div>

       <!-- <div class="weui_cell_ft" >
            <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default" id="choose_sender">选配送员</a>
        </div>-->
    </div>


    <div id="order_log">
       <!-- <div class="weui_cells_title">日志</div>

        <div class="weui_cells_tips">-&#45;&#45;王小飞于 01-05 16:54:21 送达；</div>

        <div class="weui_cells_tips">-&#45;&#45;王小飞于 01-05 16:58:15 操作商品退货，退商品编号5010000352 的1件，商品编号5010000354 的2件，全部退货；</div>

        <div class="weui_cells_tips">-&#45;&#45;王小飞于 01-05 16:59:42 确认收款；刷卡￥22.20，现金￥20.00，其他￥0.00；</div>

        <div class="weui_cells_tips">-&#45;&#45;系统于 01-05 16:59:42 取消订单，因超过24小时未支付；</div>

        <div class="weui_cells_tips">-&#45;&#45;王客服名于 01-05 16:59:42 取消订单；</div>-->

    </div>




</div>

<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>

<script src="../../js/libs/jquery.cookie/jquery.cookie.js"></script>
<script src="../../js/libs/art-template/template.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/manager_order/order_details.js"></script>


<!--订单商品-->

<script type="text/html" id="orderGoosList">

    {{if list}}
    {{each list as value}}

    <div>
        <div class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
                <img class="weui_media_appmsg_thumb" src="{{#value.goodImg}}">
            </div>
            <div class="weui_media_bd">
                <h4 class="weui_media_title">【<span>{{value.brandName}}</span>】<span>{{value.goodName}}</span></h4>
                <p class="weui_media_desc"><span>{{value.goodCode}}</span>，<span>{{value.goodSpec}}</span>，数量：<span>{{value.goodCount}}</span></p>
            </div>
        </div>

        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p></p>
            </div>
            <div class="weui_cell_ft">￥{{value.sellingPrice}}</div>
        </div>
    </div>


    {{/each}}
    {{/if}}


</script>

<!--//订单日志信息-->

<script type="text/html" id="orderInfoLog">

    <div class="weui_cells_title">日志</div>

    {{if list}}
    {{each list as value}}
    <div class="weui_cells_tips"><span>{{value.executerName}}</span>于<span>{{value.logTime}}</span><span>{{value.logInfo}}</span></div>

    {{/each}}
    {{/if}}



</script>
</body>
</html>