<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no, email=no">
<link rel="stylesheet" href="../../css/ak_medicine.min.css">

    <title>药品分类</title>
</head>
<body>

<div class="category_page">

    <!--点击分类-->
    <div class="category_tab  yao_shadow">
        <!--<span class="choosed">感冒</span>-->
        <!--<span>发烧</span>-->
        <!--<span>咳嗽</span>-->
        <!--<span>扁桃炎</span>-->
        <!--<span>小儿麻痹</span>-->
        <!--<span>皮肤感染</span>-->
        <!--<span>阑尾炎</span>-->
        <!--<span>鼻炎</span>-->
        <!--<span>慢性咽炎</span>-->
    </div>

    <!--结果-->

    <div class="search_result_list">

    <!--<a href="#" class="result yao_alignment_middle">-->
        <!--<div><img src="../../images/icon_product_referrnce.jpg"></div>-->
        <!--<div>-->
            <!--<p>[999]感冒灵颗粒</p>-->
            <!--<p>本品为浅棕色至深棕色的颗粒，味甜、微苦。每盒含9包，每包袋装10g。解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>-->
            <!--<p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>-->
        <!--</div>-->
    <!--</a>-->

    <!--<a href="#" class="result yao_alignment_middle">-->
        <!--<div><img src="../../images/icon_product_referrnce.jpg"></div>-->
        <!--<div>-->
            <!--<p>[999]感冒灵颗粒</p>-->
            <!--<p>解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>-->
            <!--<p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>-->
        <!--</div>-->
    <!--</a>-->

    <!--<a href="#" class="result yao_alignment_middle">-->
        <!--<div><img src="../../images/icon_product_referrnce.jpg"></div>-->
        <!--<div>-->
            <!--<p>[999]感冒灵颗粒</p>-->
            <!--<p>解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>-->
            <!--<p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>-->
        <!--</div>-->
    <!--</a>-->

    <!--<a href="#" class="result yao_alignment_middle">-->
        <!--<div><img src="../../images/icon_product_referrnce.jpg"></div>-->
        <!--<div>-->
            <!--<p>[999]感冒灵颗粒</p>-->
            <!--<p>本品为浅棕色至深棕色的颗粒，味甜、微苦。每盒含9包，每包袋装10g。解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>-->
            <!--<p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>-->
        <!--</div>-->
    <!--</a>-->
    <!--<a href="#" class="result yao_alignment_middle">-->
        <!--<div><img src="../../images/icon_product_referrnce.jpg"></div>-->
        <!--<div>-->
            <!--<p>[999]感冒灵颗粒</p>-->
            <!--<p>本品为浅棕色至深棕色的颗粒，味甜、微苦。每盒含9包，每包袋装10g。解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>-->
            <!--<p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>-->
        <!--</div>-->
    <!--</a>-->

    <!--<a href="#" class="result yao_alignment_middle">-->
        <!--<div><img src="../../images/icon_product_referrnce.jpg"></div>-->
        <!--<div>-->
            <!--<p>[999]感冒灵颗粒</p>-->
            <!--<p>解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>-->
            <!--<p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>-->
        <!--</div>-->
    <!--</a>-->

    <!--<a href="#" class="result yao_alignment_middle">-->
        <!--<div><img src="../../images/icon_product_referrnce.jpg"></div>-->
        <!--<div>-->
            <!--<p>[999]感冒灵颗粒</p>-->
            <!--<p>解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>-->
            <!--<p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>-->
        <!--</div>-->
    <!--</a>-->

    <!--<a href="#" class="result yao_alignment_middle">-->
        <!--<div><img src="../../images/icon_product_referrnce.jpg"></div>-->
        <!--<div>-->
            <!--<p>[999]感冒灵颗粒</p>-->
            <!--<p>本品为浅棕色至深棕色的颗粒，味甜、微苦。每盒含9包，每包袋装10g。解热镇痛功效，用于因感冒引起的头痛，发热，鼻塞，流涕，咽痛等症状。</p>-->
            <!--<p class="yao_alignment_center"><span>规格：<span>10g X 9袋</span></span><span>¥10.50</span></p>-->
        <!--</div>-->
    <!--</a>-->

    
</div>


</div>

<script src="../../js/libs/jquery/jquery-3.2.1.min.js"></script>
<script src="../../js/libs/art-template/template.js"></script>
<script src="../../js/libs/jquery.cookie/jquery.cookie.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/medicine_category/category.js"></script>
<script src="../../js/ak_medicine.min.js"></script>
<script>


    //分类tab点击事件
    akMedicineTab.tabClickFn()


</script>

<script type="text/html" id="yao_shadow_html">
    {{if list}}
    {{each list as value}}
    <span data-shadow="{{value.id}}">{{value.cateName}}</span>
    {{/each}}
    {{/if}}
</script>
<script type="text/html" id="search_result_list_html">
    {{if list}}
    {{each list as value}}
    <a href="../product_details_page/product_details_page.html?id={{value.id}}" class="result yao_alignment_middle">
        <div><img src="{{#value.goodImg}}"></div>
        <div>
            <p>[{{value.brandName}}]{{value.goodName}}</p>
            <p>{{value.applySymptom}}</p>
            <p class="yao_alignment_center"><span>规格：<span>{{value.goodSpec}}</span></span><span>¥{{value.sellingPrice}}</span></p>
        </div>
    </a>
    {{/each}}
    {{/if}}
</script>
</body>
</html>