

<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no, email=no">
<link rel="stylesheet" href="../../css/ak_medicine.min.css">


    <title>活动</title>

</head>
<body>

<div class="compatible_active">


<!--活动页面banner部分-->
<!--活动页面banner-->
<div class="active_banner1">
   <!-- <img src="../../images/icon_active_banner1.jpg">-->
</div>

<div class="active_banner2">
   <!-- <img src="../../images/icon_active_banner2.jpg">-->
</div>

<!--特价药品内容-->
<!--药品内容-->
<div class="active_section">

        <div class="ak_pro_list hot_sale">

            <div class="items">
                <div class="product_title jdshow_center_center">
                    <div>— <span>特价药品</span> —</div>
                    <a href="active_details.html?categoryId=22">更多<img src="../../images/icon_AK_arrow1.png"></a>
                </div>

                <div id="active_page_list">
                    <!--<a href="../product_details_page/product_details_page.html" class="hot">-->
                        <!--<div class="pro_img"><img src="../../images/hot_product.jpg"></div>-->
                        <!--<p>云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤</p>-->
                        <!--<div class="price">-->
                            <!--<p>-->
                                <!--<span>¥29.99</span>-->
                                <!--<span>¥39.99</span>-->
                            <!--</p>-->
                            <!--<p class="gobuy"></p>-->
                        <!--</div>-->
                    <!--</a>-->

                    <!--<a href="../product_details_page/product_details_page.html" class="hot">-->
                        <!--<div class="pro_img"><img src="../../images/hot_product.jpg"></div>-->
                        <!--<p>云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤</p>-->
                        <!--<div class="price">-->
                            <!--<p>-->
                                <!--<span>¥29.99</span>-->
                                <!--<span>¥39.99</span>-->
                            <!--</p>-->
                            <!--<p class="gobuy"></p>-->
                        <!--</div>-->
                    <!--</a>-->
                    <!--<a href="../product_details_page/product_details_page.html" class="hot">-->
                        <!--<div class="pro_img"><img src="../../images/hot_product.jpg"></div>-->
                        <!--<p>云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤</p>-->
                        <!--<div class="price">-->
                            <!--<p>-->
                                <!--<span>¥29.99</span>-->
                                <!--<span>¥39.99</span>-->
                            <!--</p>-->
                            <!--<p class="gobuy"></p>-->
                        <!--</div>-->
                    <!--</a>-->
                    <!--<a href="../product_details_page/product_details_page.html" class="hot">-->
                        <!--<div class="pro_img"><img src="../../images/hot_product.jpg"></div>-->
                        <!--<p>云南白药雾剂消肿化南白药雾扭伤</p>-->
                        <!--<div class="price">-->
                            <!--<p>-->
                                <!--<span>¥29.99</span>-->
                                <!--<span>¥39.99</span>-->
                            <!--</p>-->
                            <!--<p class="gobuy"></p>-->
                        <!--</div>-->
                    <!--</a>-->
                </div>

            </div>


            <div class="items">
                <div class="product_title jdshow_center_center">
                    <div>— <span>特价器械</span> —</div>
                    <a href="active_details.html?categoryId=25">更多<img src="../../images/icon_AK_arrow1.png"></a>
                </div>

                <div id="active_page_list2">
                    <!--<a href="../product_details_page/product_details_page.html" class="hot">-->
                        <!--<div class="pro_img"><img src="../../images/hot_product.jpg"></div>-->
                        <!--<p>云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤</p>-->
                        <!--<div class="price">-->
                            <!--<p>-->
                                <!--<span>¥29.99</span>-->
                                <!--<span>¥39.99</span>-->
                            <!--</p>-->
                            <!--<p class="gobuy"></p>-->
                        <!--</div>-->
                    <!--</a>-->

                    <!--<a href="../product_details_page/product_details_page.html" class="hot">-->
                        <!--<div class="pro_img"><img src="../../images/hot_product.jpg"></div>-->
                        <!--<p>云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤</p>-->
                        <!--<div class="price">-->
                            <!--<p>-->
                                <!--<span>¥29.99</span>-->
                                <!--<span>¥39.99</span>-->
                            <!--</p>-->
                            <!--<p class="gobuy"></p>-->
                        <!--</div>-->
                    <!--</a>-->
                    <!--<a href="../product_details_page/product_details_page.html" class="hot">-->
                        <!--<div class="pro_img"><img src="../../images/hot_product.jpg"></div>-->
                        <!--<p>云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤云南白药雾剂消肿化瘀止血跌打扭伤</p>-->
                        <!--<div class="price">-->
                            <!--<p>-->
                                <!--<span>¥29.99</span>-->
                                <!--<span>¥39.99</span>-->
                            <!--</p>-->
                            <!--<p class="gobuy"></p>-->
                        <!--</div>-->
                    <!--</a>-->
                    <!--<a href="../product_details_page/product_details_page.html" class="hot">-->
                        <!--<div class="pro_img"><img src="../../images/hot_product.jpg"></div>-->
                        <!--<p>云南白药雾剂消肿化南白药雾扭伤</p>-->
                        <!--<div class="price">-->
                            <!--<p>-->
                                <!--<span>¥29.99</span>-->
                                <!--<span>¥39.99</span>-->
                            <!--</p>-->
                            <!--<p class="gobuy"></p>-->
                        <!--</div>-->
                    <!--</a>-->
                </div>

            </div>

        </div>

</div>

<div class="active_banner3">
    <!--<img src="../../images/icon_active_banner2.jpg">-->
</div>


</div>
<!--底部导航-->

<footer class="bottom_tabbar">
    <div class="tab_box"></div>
    <div class="bottom_tabbar_contain yao_alignment_center">
        <a class="current_page" href="../homepage/main.html">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_home_gray.png">
                <img src="../../icon/icon_mian_home_green.png">
            </div>
            <p>首页</p>
        </a>
        <a class="current_page on" href="../active/active_page.html">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_active_gray.png">
                <img src="../../icon/icon_main_active_green.png">

            </div>
            <p>活动</p>
        </a>
        <a class="current_page" href="../shopping_cart/shopping_cart_main.html">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_shopping_gray.png">
                <img src="../../icon/icon_main_shopping_green.png">
            </div>
            <p>购物车</p>
        </a>
        <a class="current_page" href="../person_center/person_main_login.html">
            <div class="tabbar_icon">
                <img src="../../icon/icon_mian_individual_gray.png">
                <img src="../../icon/icon_main_individual_green.png">
                <p>个人中心</p>
            </div>
        </a>
    </div>
</footer>


<script src="../../js/libs/jquery/jquery-3.2.1.min.js"></script>
<script src="../../js/libs/art-template/template.js"></script>
<script src="../../js/libs/jquery.cookie/jquery.cookie.js"></script>
<script src="../../js/ak_medicine.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/active/active_page.js"></script>
<script>
    //兼容ios11 fixed闪现问题
    AnkangMain.CompatibleIOS11(document.getElementsByClassName('compatible_active')[0],'compatible_active_change');
</script>

<script type="text/html" id="active_page_html">
    {{if list}}
    {{each list as value}}
    <a href="../product_details_page/product_details_page.html?id={{value.id}}" class="hot">
        <div class="pro_img"><img src="{{#value.goodImg}}"></div>
        <p>{{value.brandName}}{{value.goodName}}{{value.applySymptom}}</p>
        <div class="price">
            <p>
                <span>¥{{value.sellingPrice}}</span>

            </p>
            <p class="gobuy"></p>
        </div>
    </a>
    {{/each}}
    {{/if}}
</script>
<script type="text/html" id="active_page_html2">
    {{if list}}
    {{each list as value}}
    <a href="../product_details_page/product_details_page.html?id={{value.id}}" class="hot">
        <div class="pro_img"><img src="{{#value.goodImg}}"></div>
        <p>{{value.brandName}}{{value.goodName}}{{value.applySymptom}}</p>
        <div class="price">
            <p>
                <span>¥{{value.sellingPrice}}</span>
            </p>
            <p class="gobuy"></p>
        </div>
    </a>
    {{/each}}
    {{/if}}
</script>

<!--广告1-->
<script type="text/html" id="ad_banner1">

    {{if list}}
    {{each list as value}}
   <img src="{{#value.imgAddr}}">
    {{/each}}
     {{/if}}
</script>
<!--广告2-->
<script type="text/html" id="ad_banner2">
    {{if list}}
    {{each list as value}}
    <img src="{{#value.imgAddr}}">
    {{/each}}
     {{/if}}
</script>
<!--广告3-->
<script type="text/html" id="ad_banner3">
    {{if list}}
    {{each list as value}}
    <img src="{{#value.imgAddr}}">
    {{/each}}
    {{/if}}
</script>

</body>
</html>