<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no, email=no">
<link rel="stylesheet" href="../../css/ak_medicine.min.css">

    <title>我的订单</title>
</head>
<body>


<div class="fixed_top_bar">
    <div class="bar"></div>
    <div class="all_tab yao_shadow">
        <p class="show allOrder" onclick="orderFn.tabChange(0)">全部</p>
        <p class="PaymentPend" onclick="orderFn.tabChange(1)">待付款<span id="paySpan"></span></p>
        <!--<p onclick="orderFn.tabChange(2)">待评价<span>(5)</span></p>-->
    </div>
</div>

<div class="my_order_page">

    <div class="order_box yao_alignment_middle">

        <!--全部-->
        <div class="all box">
            <!--<div class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <a href="order_details.html" class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </a>
                <a href="order_details.html" class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </a>
                <div>
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </div>
            <div class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>待付款</p>
                </div>
                <a class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </a>
                <div>
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </div>
            <div class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>已完成</p>
                </div>
                <a class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </a>
                <div>
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </div>-->
        </div>

        <!--代付款-->
        <div class="paying box">
            <!--<div class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <a href="order_details.html" class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </a>
                <div>
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </div>
            <div class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <a class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </a>
                <div>
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </div>
            <div class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>配送中</p>
                </div>
                <a class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </a>
                <div>
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </div>-->
        </div>
        <!--待评价-->
        <div class="evaluate box">
            <div class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>已完成</p>
                </div>
                <a href="order_details.html" class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </a>
                <div>
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </div>
            <div class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>已完成</p>
                </div>
                <a class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </a>
                <div>
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </div>
            <div class="lists yao_shadow">
                <div class="yao_alignment_center">
                    <p>共<span>4</span>件商品</p>
                    <p>已完成</p>
                </div>
                <a class="product yao_alignment_middle">
                    <div>
                        <img src="../../images/icon_product_referrnce.jpg">
                    </div>
                    <div>
                        <p class="name">999三九感冒灵颗粒</p>
                        <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                        <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
                    </div>
                </a>
                <div>
                    <p>金额：¥<span class="price">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
                    <p>免费配送</p>
                </div>
            </div>
        </div>

    </div>



</div>

<script src="../../js/libs/jquery/jquery-3.2.1.min.js"></script>
<script src="../../js/libs/jquery.cookie/jquery.cookie.js"></script>
<script src="../../js/libs/art-template/template.js"></script>
<script src="../../js/ak_medicine.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/person_center/my_order.js"></script>

<script type="text/html" id="allList">
    {{if list}}
    {{each list as value index}}
    <div class="lists yao_shadow">
        <div class="yao_alignment_center">
            <p>共<span>{{value.goodTotal}}</span>件商品</p>
            <p data_statu="{{value.status}}" class="stata"></p>
        </div>
      	{{each value.orderGoodList as valu inde}}
        <a href="order_details.html?oId={{value.id}}" class="product yao_alignment_middle">
            <div>
                <img src="{{#valu.goodImg}}">
            </div>
           	<div>
                <p class="name">{{valu.brandName}}</p>
                <p class="size"><span>规格：</span><span>{{valu.goodSpec}}</span></p>
                <p class="price yao_alignment_center"><span>¥{{valu.sellingPrice}}</span><span>X{{valu.goodCount}}</span></p>
            </div>
        </a> 
    	{{/each}}
        <div>
            <p>金额：¥<span class="price">{{value.realPay}}</span> 比门店便宜¥<span>3.99</span>(券减¥<span>{{value.couponsAmount}}</span>)</p>
            <p>免费配送</p>
        </div>
    </div>
    {{/each}}
    {{/if}}
</script>
<script type="text/html" id="payList">
    {{if list}}
    {{each list as value index}}
    <div class="lists yao_shadow">
        <div class="yao_alignment_center">
            <p>共<span>{{value.goodTotal}}</span>件商品</p>
            <p>待付款</p>
        </div>
      	{{each value.orderGoodList as valu index}}
        <a href="order_details.html?id={{value.id}}" class="product yao_alignment_middle">
            <div>
                <img src="{{#valu.goodImg}}">
            </div>
           	<div>
                <p class="name">{{valu.brandName}}</p>
                <p class="size"><span>规格：</span><span>{{valu.goodSpec}}</span></p>
                <p class="price yao_alignment_center"><span>¥{{valu.sellingPrice}}</span><span>X{{valu.goodCount}}</span></p>
            </div>
        </a> 
    	{{/each}}
        <div>
            <p>金额：¥<span class="price">{{value.realPay}}</span>(券减¥<span>{{value.couponsAmount}}</span>)</p>
            <p>免费配送</p>
        </div>
    </div>
    {{/each}}
    {{/if}}
</script>

</body>
</html>