<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no, email=no">
<link rel="stylesheet" href="../../css/ak_medicine.min.css">

    <title>订单详情</title>
</head>
<body>
<div class="order_page order_statu">

    <div class="address_list checked_address yao_shadow">

        <div class="address_select yao_alignment_middle">
            <div class="check_address">
                <div class="yao_alignment_center">
                    <p><span>收货人：</span><span class="consigneeNa"></span></p>
                    <p class="consigneePh"></p>
                </div>
                <div>
                    <span>收货地址：</span><span class="consigneeaddr"></span>
                </div>
            </div>
        </div>


    </div>



    <div class="check_order_main order_main yao_shadow">
		<div class="goodDet"></div>
        <!--<div class="product yao_alignment_middle">
            <div>
                <img src="../../images/icon_product_referrnce.jpg">
            </div>
            <div>
                <p class="name">999三九感冒灵颗粒</p>
                <p class="size"><span>规格：</span><span>10gX4袋 无糖</span></p>
                <p class="price yao_alignment_center"><span>¥10.50</span><span>X5</span></p>
            </div>
        </div>-->

        <div class="total_price">
            <!--<p>金额：¥<span class="num">39.99</span> 比门店便宜¥<span>3.99</span>(券减¥<span>3.99</span>)</p>
            <p>免费配送</p>-->
        </div>
        <div>
            <p><span>付款方式：</span><span class="payMode">微信支付</span></p>
        </div>
        <div>
            <p><span>使用优惠券：</span><span>满<i class="yuan"></i>减<i class="ya"></i></span></p>
        </div>
        <div>
            <p>发票信息与备注</p>
            <p class="title">
                <span>抬头：</span>
                <span class="invoice"></span>
            </p>
            <p class="note">
                <span>备注：</span>
                <span class="remark"></span>
            </p>
        </div>


    </div>

    <div class="order_bottom">
        <div class="bottom_bar"></div>
        <div class="fixed_order yao_alignment_center">
            <!--配送中，待付款，已完成，已取消-->
            <p class="orderSta"></p>
            <span style="border:solid 1px #ddd; border-radius:30px; width:90px; text-align: center; font-size:14px; padding: 4px 0;" id="share_order">分享</span>
            <div>
                <span class="cancle_order">取消订单</span>
                <!--<span class="evaluate_order" onclick="orderFn.evaluateBoxShow()">评价</span>-->
            </div>
        </div>
    </div>

</div>


<!--评价框-->
<div class="evaluate_box">
    <div class="box_bg"></div>
    <div class="evaluate_content">
       <p>为了提高我们更好的服务，请提交您的评价</p>
        <div>
            <div class="yao_alignment_middle star_content"><span>商品描述：</span><span><img src="../../images/personal_yellow_star.png" class="yellow"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"></span></div>

            <div class="yao_alignment_middle star_content"><span>配送速度：</span><span><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"></span></div>

            <div class="yao_alignment_middle star_content"><span>商家态度：</span><span><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"></span></div>
        </div>

        <div class="yao_alignment_left">
            <span>评价：</span>
            <textarea placeholder="请填写" rows="3"></textarea>
        </div>

        <div class="jdshow_center_center">
            <button onclick="orderFn.evaluateBoxhide()">取消</button>
            <button onclick="orderFn.evaluateBoxhide()">提交</button>
        </div>

        <div class="star_tips jdshow_center_center">
            <span><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"><img src="../../images/personal_yellow_star.png"></span>
            <span>5颗星表示很满意</span>
        </div>
    </div>
</div>


<script src="../../js/libs/jquery/jquery-3.2.1.min.js"></script>
<script src="../../js/libs/jquery.cookie/jquery.cookie.js"></script>
<script src="../../js/libs/art-template/template.js"></script>
<script src="../../js/ak_medicine.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/person_center/order_details.js"></script>

<script>


//  //取消订单
//  document.getElementsByClassName('cancle_order')[0].addEventListener("click",function(){
//      jfShowTips.dialogShow({
//          'mainText':"您确认取消订单？",
//          'minText':' ',
//          checkFn:function(){
//              jfShowTips.dialogRemove()
//             	
//          }
//      })
//  },false)


    orderFn.starShow();//评价星星点亮


</script>

<script type="text/html" id="goodList">
    {{if list}}
	{{each list as value}}
	<div class="product yao_alignment_middle">
        <div>
            <img src="../../images/icon_product_referrnce.jpg">
        </div>
        <div>
	        <p class="name">{{value.goodName}}</p>
	        <p class="size"><span>规格：</span><span>{{value.goodSpec}}</span></p>
	        <p class="price yao_alignment_center"><span>¥{{value.sellingPrice}}</span><span>X{{value.goodCount}}</span></p>
        </div>
    </div>
    {{/each}}
    {{/if}}
</script>
<script type="text/html" id="goodMoney">
    {{if list}}
	<p>金额：¥<span class="num">{{list.realPay}}</span>(券减¥<span>{{list.couponsAmount}}</span>)</p>
    <p class="orderStaCod">免费配送</p>
    {{/if}}
</script>

</body>
</html>