<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no, email=no">
<link rel="stylesheet" href="../../css/ak_medicine.min.css">

    <title>门店信息</title>
</head>
<body>

<div class="AK_store">
    <div class="store_title yao_alignment_middle yao_shadow">

        <!--<div class="store_logo">
            <img src="../../images/store_logo.jpg">
        </div>

        <div class="store_address">
            <p>北京众博XX天通东苑大药房</p>

            <div>
               <p><span>门店名称：</span><span>北京众博XX天通东苑大药房</span></p>
                <p><span>门店地址：</span><span>北京市朝阳区北苑东路19号</span></p>
                <p><span>门店热线：</span><span>400-8521-6523</span></p>
            </div>
        </div>-->

    </div>

    <div class="store_info yao_shadow">

        <p>药店介绍</p>

        <div>
            <p>1、本公司为实质性服务于百姓，正品低价，及时配送，以服务更多客户;</p>
            <p>2、本店拥有 11年历史，深受附近客户欢迎；</p>
            <p>3、如有需要到店购买，可前往本店直接选购；</p>
            <p>4、本店线下实体点名为：XXXXXXXXX；</p>
            <p>5、通过线上APP可享受9.8折的价格优惠，同时享受货到付款服务</p>
            <p>6、本店承诺药品都是正规气到采购与销售；</p>
            <p>配送范围：<a class="addrArea">【详情点击查看地图】</a></p>
            <p>网络许可证号：JCP15121542515</p>

        </div>

    </div>

    <div class="store_qualification yao_shadow">

        <!--<p>药店资质</p>-->

        <!--<div class=" yao_alignment_center ">-->
            <!--<p><img src="../../images/store_certificate1.jpg"></p>-->
            <!--<p><img src="../../images/store_certificate2.jpg"></p>-->
        <!--</div>-->

    </div>

    <div class="store_scene yao_shadow">

        <!--<p>药店场景</p>-->

        <!--<div class=" yao_alignment_center">-->
            <!--<p><img src="../../images/store_pic1.jpg"></p>-->
            <!--<p><img src="../../images/store_pic2.jpg"></p>-->
        <!--</div>-->

    </div>

    <div class="store_code yao_shadow">

        <!--<p>药店二维码</p>-->

        <!--<div class="jdshow_center_center">-->
            <!--<p><img src="../../images/store_code.jpg"></p>-->

        <!--</div>-->

        <!--<span class="store_tips">提示：可以微信扫码关注本店，或用手机截图后发给朋友关注</span>-->

    </div>
</div>
<div style="z-index:200;  background:#4a4a4a; display: none; text-align: center;" class="distribution" ><img src="" style="z-index: 500;"/></div>
<script src="../../js/libs/jquery/jquery-3.2.1.min.js"></script>
<script src="../../js/libs/art-template/template.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/medicine_store/store.js"></script>
<script src="../../js/ak_medicine.min.js"></script>
<!--头部介绍-->
<script type="text/html" id="detailTop">
	{{if list}}
    	<div class="store_logo">
            <img src="{{#list.storeImg}}">
        </div>
        <div class="store_address">
            <p>{{list.fullName}}</p>
            <div>
               	<p><span>门店名称：</span><span>{{ list.storeName }}</span></p>
                <p><span>门店地址：</span><span>{{ list.storeAddr }}</span></p>
                <p><span>门店热线：</span><span>{{ list.storeTel }}</span></p>
            </div>
        </div>
    {{/if}}
</script>
<!--药店资质图-->
<script type="text/html" id="store_qualification_html">
    <p>药店资质</p>
    <div class=" yao_alignment_center ">
        {{if list}}
        {{each list as value}}
        <p><img src="{{#value.imgUrl}}"></p>
        {{/each}}
        {{/if}}
    </div>
</script>
<script type="text/html" id="store_scene_html">
    <p>药店场景</p>
    <div class=" yao_alignment_center">
        {{if list}}
        {{each list as value}}
        <p><img src="{{#value.imgUrl}}"></p>
        {{/each}}
        {{/if}}
    </div>
</script>
<script type="text/html" id="store_code_html">
    <p>药店二维码</p>
    <div class="jdshow_center_center">
        {{if list}}
        {{each list as value}}
        <p><img src="{{#value.imgUrl}}"></p>
        {{/each}}
        {{/if}}
    </div>
    <span class="store_tips">提示：可以微信扫码关注本店，或用手机截图后发给朋友关注</span>
</script>
</body>
</html>